
.box {
	
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 32px;
	border-radius: 8px;

	transition: filter 1s ease-in-out,
				border 0.8s ease-in-out,
				background-color 0.8s ease-in-out;

}

.box:hover {

	cursor: pointer;

}

.label {

	font-family: "Jetbrains-Medium";
	font-size: 0.75rem;
	color: #fff;

}
