

.container {

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	padding: 16px;

}

.container:hover {

	cursor: pointer;

}

.text {

	font-family: "Jetbrains-Medium";
	font-size: 12px;
	color: #fff;

}

.icon {

	width: 10px;
	height: 10px;
	object-fit: contain;
	margin-left: 10px;

}
