

.container {

	display: flex;
	align-items: center;
	gap: 8px;
	font-family: "Jetbrains-Medium";
	font-size: 0.75rem;
	color: #fff;
	cursor: pointer;

}

.box {

	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: #444;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s ease-in-out;

}

.container:hover .box {

	background-color: #555;

}

.inputCheckbox:checked + .box {

	background-color: orangered;

}

.icon {

	width: 12px;
	height: 12px;
	object-fit: contain;

}

.inputCheckbox {

	display: none;

}
