

* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

:root {

	--granite: #141414;
	--lunar: #242424;
	--metal: #333;
	--forest: #429c06;
	--nectar: #ea580c;
	--charm: #ff6dff;
	--sky: #42adff;
	--tropic: #ffc803;
	--sodapop: #b895fc;
	--ocean: #2563eb;
	--violet: #a37cf0;
	--indigo: #c3a2ff;
	font-family: "Jetbrains";

}

@font-face {

	font-family: "Jetbrains";
	src: url("./assets/fonts/JetbrainsMono-Regular.ttf") format("truetype");
	font-weight: 400;

}

@font-face {

	font-family: "Jetbrains-Medium";
	src: url("./assets/fonts/JetbrainsMono-Medium.ttf") format("truetype");
	font-weight: 500;

}

@font-face {

	font-family: "Jetbrains-SemiBold";
	src: url("./assets/fonts/JetbrainsMono-SemiBold.ttf") format("truetype");
	font-weight: 600;

}

@font-face {

	font-family: "Jetbrains-Bold";
	src: url("./assets/fonts/JetbrainsMono-Bold.ttf") format("truetype");
	font-weight: 700;

}
