

* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

:root {

	--granite: #141414;
	--lunar: #242424;
	--forest: #429c06;
	--poison: #9b14b8;
	font-family: "Jetbrains";
	color: #fff;
	background: var(--granite);

}

@font-face {

	font-family: "Jetbrains";
	src: url("./assets/fonts/JetbrainsMono-Regular.ttf") format("truetype");
	font-weight: 400;

}

@font-face {

	font-family: "Jetbrains-Medium";
	src: url("./assets/fonts/JetbrainsMono-Medium.ttf") format("truetype");
	font-weight: 500;

}

@font-face {

	font-family: "Jetbrains-SemiBold";
	src: url("./assets/fonts/JetbrainsMono-SemiBold.ttf") format("truetype");
	font-weight: 600;

}

@font-face {

	font-family: "Jetbrains-Bold";
	src: url("./assets/fonts/JetbrainsMono-Bold.ttf") format("truetype");
	font-weight: 700;

}
